html{
	font-size: 3vh;
}

body{
	background-image: url(pic/bg.jpg); 
	background-repeat: repeat;
	text-align: center;
	font-family: "Georgia", serif;
}



#mainheader{
	align-content: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	border: 2px red dotted;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);

}


/*
200 to 800 px width
*/
@media screen and (max-width: 800px) {
	#mainheader{
		font-size: 2rem;
		height: 30%;
	}

}

/*
800 to 1200 px width
*/
@media screen and (min-width: 800px) and (max-width: 1200px) {
	#mainheader{
		font-size: 2.5rem;
		height: 15%;
	}

}

/*

/*
1200 to inf px width
*/
@media screen and (min-width: 1200px) {
	#mainheader{
		font-size: 3.5rem;
		height: 20%;
	}

}